<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explosao Delivery</title>

    <link rel="stylesheet" href="/styles/style.css">
</head>
<nav class="main-navbar">
    <img src="/assets/logoRed.jpeg" alt="logo">
    <a href="/" class="logo-text"> Explosao Delivery</a>
</nav>
<body>
    
    <div class="home-container">
        <div class="home-content">
            <div class="home-actions">
                <h1 class="home-title">
                    Peça já o seu marmitex <br> que entregamos <br> para você!!
                </h1>
                <h3 class="home-subtitle">
                    Escolha o seu pedido e em poucos minutos <br> levaremos na sua porta
                </h3>
                    <a href="/orders" class="home-btn-order">
                    FAZER PEDIDO
                </a>
                
            </div>
            <div class="home-image">
                <img src="/assets/Background.svg" alt="Imagem de fundo">
            </div>
        </div>
    </div>
    

    <footer class="main-footer">
        
        
        <div class="footer-icons">
            <a href="https://github.com/bruno2026"><img src="/assets/github.svg" alt="github icon"></a>

            <a href="https://www.linkedin.com/in/brunogomes2021/"><img src="/assets/linkedin.svg" alt="github icon"></a>
        </div>
        <p>by Bruno gomes</p><br>
        <p>App desenvolvido para vendas do restaurante explosão de sabores</p>
    </footer>
</body>
</html>