:root {
    --primary-color: #da5c5c;
    --primary-hover-color: #a74b4b;
    --dark-color: #263238;
    --secondary-color: #9E9E9E;
    --light-color: #F5F5F5;
  }
  
  html, body {
    margin: 0;
    padding:0;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
  }
  
  a {
    text-decoration: none;
  }



/* NAV BAR*/
.main-navbar {
    height: 70px;
    background-color: #DA5C5C;
    padding-left: 45px;
    display: flex;
    align-items: center;
}

.main-navbar img {
    height: 70px;
}

.logo-text {
font-weight: bold;
font-size: 24px;
line-height: 33px;
letter-spacing: -0.015em;
color: #FFFFFF;
margin-left: 15px;
text-decoration: none;
}


/*HOME*/
.home-container {
    padding-top: 100px;
    height: calc(100vh - 254px);
  }
  
  .home-container h1 {
    margin: 0;
  }
  
  .home-content {
    display: flex;
    justify-content: center;
    
  }
  
  .home-title {
    font-weight: bold;
    font-size: 55px;
    line-height: 58px;
    letter-spacing: -0.015em;
    color: var(--dark-color);
    margin-bottom: 40px !important;
  }
  
  .home-subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: var(--secondary-color);
    margin-bottom: 30px;
  }
  
  .home-btn-order {
    background-color: var(--primary-color);
    border-radius: 10px;
    height: 70px;
    width: 235px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -0.015em;
    color: #FFF;
    outline: none;
  }
  
  .home-btn-order a{
    
    text-decoration: none;
  }
  
  .home-btn-order:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.01);
  }
  
  .home-image svg {
    width: 100%;
  }
  
  @media only screen and (max-width: 768px) {
    .home-container {
      height: auto;
      margin-bottom: 50px;
    }
  
    .home-content {
      flex-direction: column-reverse;
    }
  
    .home-title {
      font-size: 40px;
    }
    
    .home-subtitle {
      text-align: center;
    }
  
    .home-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .home-image {
      text-align: center;
    }
  
    .home-image svg {
      width: 80%;
    }
  }
  
  @media (max-height: 700px) {
    .home-container {
      height: auto;
      margin-bottom: 30px;
    }
  }

  /*ORDERS*/

  
.orders-steps-container {
    display: flex;
    justify-content: center;
    background-color: #FFF;
    margin-bottom: 30px;
  }
  
  .orders-steps-content {
    display: flex;
    padding: 25px 0;
    width: 70%;
  }
  
  .steps-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 34px;
    letter-spacing: -0.015em;
    color: var(--primary-color);
    margin-right: 100px;
  }
  
  .steps-items {
    list-style-type: none;
  }
  
  .steps-items li {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: var(--secondary-color);
  }
  
  .steps-items .steps-number {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: var(--primary-color);
    margin-right: 10px;
  }

  .orders-list-container {
    display: flex;
    justify-content: center;
    
  }

  .orders-list-items {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 235px);
    grid-gap: 20px 15px;
    justify-content: space-between;
  }
  .order-card-container {
    background-color: #FFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    width: 90%;
  }
  
  .order-card-container.selected {
    border: 4px solid var(--primary-color);
    /* box-sizing: border-box; */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  
  .order-card-container:hover {
    transform: scale(1.01);
  }
  
  .order-card-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: var(--primary-color);
    text-align: center;
  }

  .order-card-title-modal{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: var(--primary-color);
    text-align: center;
  }
  
  /* .order-card-container.selected .order-card-title {
    color: #008E5B;
  } */
  
  .order-card-image {
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .order-card-price {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: var(--primary-color);
    text-align: left;
    padding-right: 0.5rem;
  }
  
  /* .order-card-container.selected .order-card-price {
    color: #008E5B;
  } */
  
  .order-card-description {
    border-top: 1px solid #E6E6E6;
    margin-top: 15px;
    padding-top: 15px;
  }
  
  .order-card-description h3 {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: var(--secondary-color);
  }
  
  .order-card-description p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
  
    color: var(--secondary-color);
  }

  .order-summary-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 2rem;
  }

  .order-summary-content {
    width: calc(70% - 40px);
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: var(--primary-color);
    color: #FFF;
    padding: 20px;
  }
  
  .amount-selected-container {
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: -0.015em;
    display: block;
    margin-bottom: 10px;
  }
  
  #amount-selected-total {
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: -0.015em;
    margin-right: 5px;
  }
  
  .order-summary-total {
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.015em;
    color: #FFF;
    display: block;
  }
  
  .order-summary-price {
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: -0.015em;
    color: #FFF;
    margin-right: 5px;
  }
  
  .order-summary-make-order {
    width: 220px;
    height: 45px;
    background: #FFF;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.015em;
    color: var(--primary-color);
    border: 0;
    cursor: pointer;
  }
  
  .order-summary-make-order:focus {
    outline: none;
  }
  
  .order-summary-make-order:hover {
    background-color: #fcf2f2;
    transform: scale(1.01);
  }


  .modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
    
}

.modal {
    background: #F0F2f5;
    padding: 1.4rem;
    position: relative;
    z-index: 999;
    border-radius: 25px;
}

.marmita-form-textarea {
  width: 100%;
  border-radius:10px;
  outline: none;
}

.marmita-counter-add {
  padding-top: 1rem;
}

.minus-counter-plus{
  display:flex;
  justify-content:center;
  height:2.5rem;
}
.marmita-counter {
  padding-top:2rem;
}

#marmita-counter-value {
    font-size: 1.125rem;
    font-weight: 500;
    padding-top:0.6rem;
    padding-right:1rem;
    padding-left:1rem;
}

.marmita-form-header-label {
  font-weight: 700;
  font-size: 1rem;
  color: #717171;
}

.marmita-form-counter {
  font-weight: 500;
  font-size: 1rem;
  color: #717171;
}

.modal-img {
  padding-right: 2rem;
}
.image-modal {
  border-radius: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.btn-add {
border: none;
font-weight: 800;
background-color: #da5c5c;
color:white;
border-radius: 10px;
width: 100%;
height:2.5rem;
  
}

.btn-counter {
  color: white;
  background-color:#da5c5c;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding:1rem;
  
  
  display:flex;
  align-items:center;
  justify-content: center;
}

.btn-span-add {
  padding-right:0.3rem;
}

  

.btn-add:hover{
background-color: #da5c5c;
transform: scale(1.01);
cursor: pointer;
}

.btn-counter:hover{
background-color: #da5c5c;
transform: scale(1.01);
}





  @media only screen and (max-width: 768px) {
    .orders-steps-content {
      display: flex;
      flex-direction: column;
      padding: 0;
      width: 90%;
    }
    .steps-items {
      padding: 0
    }
  
    .order-location-content {
      width: 90%;
    }
  
    .order-location-container {
      margin-bottom: 20px;
    }
  
    .order-summary-content {
      width: 80%;
      display: flex;
      flex-direction: column;
    }
  
    .order-summary-make-order {
      margin-top: 15px;
      width: 100%;
    }
  }



  /* FOOTER*/
  .main-footer {
    padding-top: 3px;
    padding-bottom: 5px;
    background-color: var(--dark-color);
    font-weight: normal;
    font-size: 12px;
    line-height: 1px;
    text-align: center;
    color: #FFF;
  }
  .footer-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .footer-icons > * {
    margin-right: 5px;
  }



  /* TESTE */

  
    
    .order-card-price_container {
      display:flex;
       align-items: center;
       
      
    }
    
    .marmita-counter{
      display: flex;
      align-items: center;
      
      width: 5.8rem;
      height: 1.5rem;
      /* background-color: var(--primary-color); */
      border-radius: 5rem;

      padding-left: 1rem;
      padding-top:0.1rem;
    }

    .marmita-counter.selected{
      display: flex;
      align-items: center;
      
      width: 5.8rem;
      height: 1.5rem;
      background-color: #008E5B;
      border-radius: 5rem;

      padding-left: 1rem;
      padding-top:0.1rem;
    }

    

    .btn-icon{
      cursor: default;
      color: var(--primary-color);
      padding-left: 0.7rem;
      padding-right: 0.7rem;

  }
  .btn-icon.selected{
    cursor: default;
    background: #008E5B;
    padding-left: 0.7rem;
    padding-right: 0.7rem; 
}
  

  .marmita-counter-value{
    /* padding-left:0.3rem; */ 
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 18px;
    color: var(--primary-color);
    /* background-color:blue; */
}

.minus{
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 18px;
  color: var(--primary-color);
  cursor: pointer;
}

.plus{
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 18px;
  color: var(--primary-color);
  cursor: pointer;
}



/* teste imagem carrinho */

.teste-img{
  width: 1.9rem;
      height: 1.6rem;
      
}

.btn-marmita-cart {
      display: flex;  
      align-items: center;
      width: 12.8rem;
      height: 2.5rem;
      background-color: var(--primary-color);
      border: none;
      border-radius:1rem;
      cursor: pointer;
      
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #F4F4F7;
}

.btn-marmita-cart:hover {
  transform: scale(1.01);
}


    